@import '~normalize.css';
@import './prism-github';
@import './prism-atom';
@import './font';

$background: #fff;
$color: #333;
$emdash: '\2014';
$sans-serif: 'proxima-nova', helvetica, arial, arial, sans-serif;

h1,
h2,
h3,
h4,
p,
li {
  padding-left: 20px;
  padding-right: 20px;
  margin: .17em 0;
}

h1 {
  font-size: 72px;;
  line-height: 1.4em;
  padding: 1em;
  position: relative;
  min-width: 8em;
}

h2 {
  font-size: 54px;
  padding: 0;
  padding-left: .3em;
  position: relative;
}

h3 {
  font-size: 42px;
  max-width: 80%;
}

h4 {
  font-size: 36px;
  max-width: 80%;
}


hr {
  width: 50%;
  margin: 1rem auto;
  height: 1px;
  border: 0;
  background: $color;
}

ul,
ol {
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  list-style: none;
  font-style: normal;
  transform: translateX(-6px);
  &:before {
    content: $emdash;
    margin-right: 4px;
  }
}

table {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  text-align: left;
}

th, td {
  padding: 5px 10px;
  margin: 0;
  border-spacing: 0;
}















$orange: #F30;
$white: #ddd;
$serif: didot, times new roman, serif;
$emdash: '\2014';

.secondary {
  color: #888;
}

.bespoke-parent {
  font-size: 1.5em;
  background: $background;
  color: $color;
  font-family: $sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  transition: background 1s ease;
  background-position: 50% 50%;
}

.bespoke-scale-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;

  .bespoke-active {
    pointer-events: auto;
  }
}

.bespoke-slide {
  transition: opacity .5s ease;
  width: 940px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -(940px / 2);
  margin-top: -(480px / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.bespoke-active {
  transition-delay: .5s;
  &[data-bespoke-backdrop] {
    transition-delay: .75s;
  }
}

.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}

.bespoke-backdrop {
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  &-active {
    opacity: 1;
  }
}

.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .3vw;
  z-index: 1;
}

.bespoke-progress-bar {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease;
}

.bespoke-bullet {
  transition: opacity .3s ease;
}

.bespoke-bullet-inactive {
  opacity: 0;
}

















a {
  padding-left: .3em;
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

:global {
  .emphatic {
    background: $orange;
  }

  .single-words {
    word-spacing: 9999px;
    line-height: 2.9em;
    overflow: hidden;
  }

  .bespoke-backdrop {
    opacity: 0;
    transition: opacity 1s ease, transform 6s ease;
    background-size: cover;
    background-position: 50% 50%;
    transform: translateZ(0) scale(1.3);
    &-active,
    &-before {
      transform: translateZ(0);
    }
    &-before {
      transition-delay: .2s;
    }
    &-active {
      opacity: 0.5;
    }
  }
}
